<!DOCTYPE html>
<html>
<head>

	<%= stylesheet_link_tag "SubmitViewQuestion" %>

	<title>
		ViewSubmit
	</title>
</head>
<body>
	<header>
		<h3 class="welcomeback">Welcome back <%= @username %> </h3>
		<img class="KclLogoHeader" src="../assets/KCLLogo.png">
		
	</header>

	<div class="mainDiv">
		<div class="SubBtn">
			<a href="../submit_question/index" ><button class="Submitbtn"><span>Submit a question </span></button></a>
		</div>
		<div>
			<a href="../view_questions/index"><button class="Viewbtn"><span>View questions </span></button></a>
		</div>
	</div>

	<footer>
		
	</footer>

</body>
</html>